.inputTextWindow {
	width: 500px;
}

#bulb{
	margin-left: 650px;
    position: fixed;
    border-radius: 100px;
    padding: 8px;
    border: dashed 3px #101010;
}

#bulb img{
	height: 30px;
	width: 30px;
}

.wrapper {
	border-radius: 5px;
    padding: 20px;
    width: 565px;
    margin: 2%;
    background-color: #fff;
    margin-left: 50px;
}

body{
	background-color: #4d4d4d;
}


.wrapper input {
	margin: 2px;
	margin-bottom: 10px;
}

#basic-addon1{
	width: 180px;
	text-align: left;
}
.wrapper button {
	margin-left: 30%; 
}

.processedWrapper{
	border-radius: 5px;
    padding: 20px;
    width: 90%;
    margin: 2%;
}

.processedWrapper .form-inline {
	margin: 10px;
}

#tagBullet {
	width: 159px;
	text-align: left;
}

.input-group p {
	width: 930px;
}